@import "_base";
@import "_utilities";

// Header
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-brand {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
  }

  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

    &.active {
      background: url(https://i.ibb.co/rt3HybH/close.png);
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
    } 
  }
}

// Main content
main {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111;
  transition: 0.5s;
  z-index: 2;

  &.active {
    right: 300px;
  }
}

.background {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125,25,100,0.5);
    mix-blend-mode: overlay;
  }

  .main-content {
    position: relative;
    z-index: 10;
  }
}

// Footer
footer {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: start;

  // Social Links
  .social {
    display: flex;

    li {
      list-style: none;
      display: flex;
  
      a {
        display: inline-block;
        margin-right: 20px;
        filter: invert(1);
        transition: 0.5s;
        display: inline-flex;
        justify-content: center;
        align-items: center;
  
        &:hover {
          transform: translateY(-15px);
        }
      }
    }
  }
}

// Navigation Menu
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    position: relative;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;

    &:hover {
      color: #D332AB; 
    }
  }
}

// Club Directory Page
.club-directory-page {
  .club-list a {
    padding: 20px 20px;

    &:hover {
      transform: scale(1.15);
      z-index: 1;
    }
  }
}

// Club Page
.club-page {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem;

  > .meta {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;

    .title {
      font-size: 3.5em;
    }

    > .logo {
      width: 12rem;
      margin: 0 auto;
    }
  }

  .links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    .button {
      margin: 0.1rem 0.2rem;
    }
  }

  // Carousel
  .carousel {
    margin-bottom: 2rem;
    
    .tns-outer {
      position: relative;
      height: 100%;
  
      button[data-action],
      button[data-controls] {
        border-radius: 10%;
        background: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        font-family: inherit;
  
        &:hover {
          background: rgba(0, 0, 0, 0.75);
        }
      }
  
      .tns-controls {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        button[data-controls] {
          height: 3.5rem;
          width: 3.5rem;
          margin: 1rem;
          border-radius: 100%;
        }
      }
  
      button[data-action="start"],
      button[data-action="stop"] {
        position: absolute;
        bottom: 0;
        left: 45%;
        margin-bottom: 1rem;
        z-index: 1;
        padding: 0.5rem 1rem;
      }
  
      #tns1-mw {
        height: 100%;
      }
    }

    .tns-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

@media (max-width: 991px) {
  .background video {
    display: none;
  }

  main,
  header {
    padding: 40px;
  }

  main .main-content {
    h2 {
      font-size: 3em;
    }

    h3 {
      font-size: 2em;
    }
  }
}