@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-brand {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
  }

  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

    &.active {
      background: url(https://i.ibb.co/rt3HybH/close.png);
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
    } 
  }
}

main {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111;
  transition: 0.5s;
  z-index: 2;

  &.active {
    right: 300px;
  }
}

.background {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125,25,100,0.5);
    mix-blend-mode: overlay;
  }
}


.title {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.title:before {
  font-size: 6em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.subtitle {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.lead-1 {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.button {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;

  &:hover {
    letter-spacing: 3px;
    background-color: #99277d;
    color:#fff;
  }
}

.main-content {
  position: relative;
  z-index: 10;
}

footer {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: start;

  .social {
    display: flex;

    li {
      list-style: none;
      display: flex;
  
      a {
        display: inline-block;
        margin-right: 20px;
        filter: invert(1);
        transition: 0.5s;
        display: inline-flex;
        justify-content: center;
        align-items: center;
  
        &:hover {
          transform: translateY(-15px);
        }
      }
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    position: relative;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;

    &:hover {
      color: #D332AB; 
    }
  }
}

.glow {
  font-weight: 800;
  color: #fff;
  text-shadow: 0 0 2.5px #fff, 0 0 7.5px #99277d, 0 0 10px #99277d, 0 0 12.5px #99277d, 0 0 15px #99277d, 0 0 70px #99277d;
  transition: text-shadow 500ms ease-in-out;
  animation: low-glow 1s infinite alternate;
  user-select: none;

  &:hover {
    animation: high-glow 1s infinite 501ms alternate;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #D332AB, 0 0 20px #D332AB, 0 0 25px #D332AB, 0 0 30px #D332AB, 0 0 70px #D332AB;
  }
}

@keyframes low-glow {
  0% {
    text-shadow: 0 0 1px #fff, 0 0 5px #99277d, 0 0 6px #99277d, 0 0 8px #99277d, 0 0 12px #99277d, 0 0 40px #99277d;
  }
  
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #99277d, 0 0 20px #99277d, 0 0 25px #99277d, 0 0 30px #99277d, 0 0 70px #99277d;
  }
}

@keyframes high-glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #D332AB, 0 0 20px #D332AB, 0 0 25px #D332AB, 0 0 30px #D332AB, 0 0 70px #D332AB;
  }
  
  100% {
    text-shadow: 0 0 5px #fff, 0 0 15px #99277d, 0 0 20px #99277d, 0 0 25px #99277d, 0 0 30px #99277d, 0 0 70px #99277d;
  }
}

// Club Directory Page
.club-directory-page {
  .club-list a {
    padding: 20px 20px;
  }
}

// Club Page
.club-page {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem;

  > .meta {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;

    .title {
      font-size: 3.5em;
    }

    > .logo {
      width: 12rem;
      margin: 0 auto;
    }
  }

  .links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    .button {
      margin: 0.1rem 0.2rem;
    }
  }

  .tns-outer {
    position: relative;
    height: 100%;

    button[data-action],
    button[data-controls] {
      border-radius: 10%;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      font-family: inherit;

      &:hover {
        background: rgba(0, 0, 0, 0.75);
      }
    }

    .tns-controls {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button[data-controls] {
        height: 3.5rem;
        width: 3.5rem;
        margin: 1rem;
        border-radius: 100%;
      }
    }

    button[data-action="start"],
    button[data-action="stop"] {
      position: absolute;
      bottom: 0;
      left: 45%;
      margin-bottom: 1rem;
      z-index: 1;
      padding: 0.5rem 1rem;
    }

    #tns1-mw {
      height: 100%;
    }
  }

  .carousel {
    margin-bottom: 2rem;

    .tns-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.aspect-ratio-16-9 {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (9 / 16) * 100%;
  }

  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 991px) {
  .background video {
    display: none;
  }

  main,
  main header {
    padding: 40px;
  }

  .main-content h2 {
    font-size: 3em;
  }

  .main-content h3 {
    font-size: 2em;
  }
}