@import "_base";
@import "_utilities";
@import "_mixins";

// Header
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 30px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-brand {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;

    &.active {
      background: url(https://i.ibb.co/rt3HybH/close.png);
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
    } 
  }

  @include breakpoint(md) {
    padding: 40px 100px;

    .site-brand {
      font-size: 1.6rem;
    }

    .toggle {
      width: 60px;
      height: 60px;
    }
  }
}

// Main content
main {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #111;
  transition: right 0.5s;
  z-index: 2;

  &.active {
    right: 50%;
  }

  .main-content {
    position: relative;
    z-index: 10;
    margin-top: 5rem;
  }

  @include breakpoint(md) {
    padding: 100px;
  }

  @include breakpoint(lg) {
    &.active {
      right: 25%;
    }
  }
}

// Navigation Menu
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    position: relative;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;

    &:hover {
      color: #D332AB; 
    }
  }

  @include breakpoint(lg) {
    width: 25%;
  }
}

// Video Background
.background {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // opacity: 0.8;
    display: none;

    @include breakpoint(lg) {
      display: block;
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(125,25,100,0.5);
    mix-blend-mode: overlay;
  }
}

// Footer
footer {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 0 40px;

  // Social Links
  .social {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    li {
      list-style: none;
      display: flex;
  
      a {
        display: inline-block;
        margin-right: 20px;
        filter: invert(1);
        transition: 0.5s;
        display: inline-flex;
        justify-content: center;
        align-items: center;
  
        &:hover {
          transform: translateY(-15px);
        }
      }
    }
  }

  .powered-by {
    display: flex;
    align-items: center;
    z-index: 1;

    span {
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
    }

    img {
      margin-left: 0.5rem;
      width: 4rem;
    }
  }

  @include breakpoint(md) {
    padding: 0;
    flex-direction: row;

    .social {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// Generic Pages
.page {
  padding: 0 40px;

  @include breakpoint(md) {
    padding: 0;
  }
}

// Home Page
.home-page {
  margin: 6rem 0;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;

  @include breakpoint(md) {
    margin-top: 0;
    padding: 0;
    text-align: left;
    align-items: flex-start;

    .lead-1 {
      max-width: 700px;
    }
  }
}

// Club Directory Page
.club-directory-page {
  padding: 16px 40px;

  .club-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;

    .club {
      width: 29%;
      margin-top: 3%;

      &:not(:nth-child(3n)) {
        margin-right: 3%;
      }

      &:before {
        content: "";
        float: left;
        padding-top: 100%;
      }

      a {
        width: 100%;
        height: 100%;
        padding: 1px 10px;
        transition: transform 250ms ease, background-color 250ms ease;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: rgba(255, 255, 255, 0.75);
        background-color: transparent;
        margin-top: 0;
    
        &:hover {
          background-color: #99277d;
          transform: scale(1.15);
          z-index: 1;
        }
      }
    }
  }

  @include breakpoint(sm, max) {
    .title {
      font-size: 2em;
      word-wrap: break-word;
    }

    .club-list .club &:nth-child(7n) {
      margin-right: 3%;
    } 
  }

  @include breakpoint(md) {
    padding: 0;

    .club-list .club {
      width: 22%;
      margin-top: 1.25%;

      &:nth-child(3n), 
      &:not(:nth-child(3n)),
      &:not(:nth-child(7n)) {
        margin-right: 1.25%;
      }

      a {
        padding: 10px 30px;
      }
    } 
  }

  @include breakpoint(992px) {
    .club-list .club {
      width: 18%;
    }
  }

  @include breakpoint(1120px) {
    .club-list .club {
      width: 13%;
    }
  }
}

// Club Page
.club-page {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;

  .meta {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;

    .title {
      flex: 1;
      margin-top: 0.5rem;
      font-size: 2em;
    }
    
    .subtitle {
      margin-top: 1rem;
      font-size: 1.8rem;
      font-style: italic;
      font-weight: 300;
    }

    .logo {
      width: 25%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }
  }

  .details {
    display: flex;
    flex-direction: column;

    .description, aside {
      width: 100%;
    }
  }

  .links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    .button {
      margin: 0.1rem 0.2rem;
    }
  }

  // Carousel
  .carousel {
    margin-bottom: 2rem;
    
    .tns-outer {
      position: relative;
      height: 100%;
  
      button[data-action],
      button[data-controls] {
        border-radius: 10%;
        background: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        font-family: inherit;
  
        &:hover {
          background: rgba(0, 0, 0, 0.75);
        }
      }
  
      .tns-controls {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        display: none;
        transition: opacity 0.5s ease;
  
        button[data-controls] {
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 100%;

          &:first-child {
            margin-left: 1rem;
          }

          &:last-child {
            margin-right: 1rem;
          }
        }

        &:hover {
          opacity: 1;
        }
      }
  
      button[data-action="start"],
      button[data-action="stop"] {
        position: absolute;
        bottom: 0;
        z-index: 1;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.3rem 0.8rem;
      }
  
      #tns1-mw {
        height: 100%;
      }
    }

    .tns-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  @include breakpoint(md) {
    .carousel {
      .tns-outer .tns-controls {
        display: flex;
        opacity: 0;
      }

      button[data-action="start"],
      button[data-action="stop"] {
        left: 45%;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
      }
    }
  }

  @include breakpoint(lg) {
    padding: 3rem;
    margin: 0 auto;
    width: 75%;

    .meta {
      .title {
        font-size: 3.5em;
        flex: 0;
      }

      .subtitle {
        font-size: 2.6rem;
      }
  
      .logo {
        width: 12rem;
      }
    }

    .details {
      flex-direction: row;

      .description {
        flex: 1;
      }

      aside {
        padding-left: 1rem;
        width: 33%;
      }
    }

    .links {
      flex-direction: row;
      justify-content: center;
    }
  }
}

// About
.about-page {
  max-width: 900px;

  #developers {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    gap: 2em;

    .developer-info {
      width: 25%;
      text-align: center;

      img {
        border-radius: 100%;
      }
    }
  }
}