{% extends "layout.html" %}
{% block title %}{{ section.title }}{% endblock title %}
{% block content %}
<section class="club-directory-page">
  <h2 class="title glow-text">{{ section.title }}</h2>
  <h3 class="subtitle">Are you up for the challenge?</h3>

  <div class="club-list">
    {% for club in section.pages %}
      {% set logo_img_path = section.path ~ club.slug ~ '/logo.png' %}
      {% if club.extra.logo %}
        {% set logo_img_path = section.path ~ club.slug ~ '/' ~ club.extra.logo %}
      {% endif %}

      <div class="club">
        <a href="{{ get_url(path=section.path ~ club.slug) }}" class="button glow">
          <img src="{{ get_url(path=logo_img_path) }}" alt="{{ club.title }}">
        </a>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}