{% extends "layout.html" %}
{% block title %}{{ section.title }}{% endblock title %}
{% block content %}
<section class="club-directory-page">
  <h2 class="title glow-text">{{ section.title }}</h2>
  <h3 class="subtitle">Malayans, get in the game!</h3>

  <div class="club-list">
    {% for club in section.pages -%}
      <div class="club">
        <a href="{{ get_url(path=section.path ~ club.slug) }}" class="button glow">
          {% if club.extra.logo -%}
            <img src="{{ get_url(path=section.path ~ club.slug ~ '/' ~ club.extra.logo) }}" alt="{{ club.title }}">
          {% else -%}
            {{ club.title }}
          {% endif -%}
        </a>
      </div>
    {% endfor -%}
  </div>
</section>
{% endblock content %}