{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css" integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js" integrity="sha512-D/zaRVk05q6ERt1JgWB49kL6tyerY7a94egaVv6ObiGcw3OCEv0tvoPDEsVqL28HyAZhDd483ix8gkWQGDgEKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock head %}

{% block content %}
  {% set has_logo = true -%}
  {% set has_poster = false -%}
  {% set should_autoscroll_carousel = true -%}
  {% set clubs = get_section(path='clubs/_index.md', metadata_only=true) -%}
  {% set poster_file_path = clubs.path ~ page.slug ~ '/poster.png' -%}
  {% set logo_file_path = clubs.path ~ page.slug ~ '/logo.png' -%}
  {% set assets_length = page.assets | length -%}
  {% set start_index = 0 -%}

  {% if page.extra.logo -%}
    {% set_global logo_file_path = clubs.path ~ page.slug ~ '/' ~ page.extra.logo | safe -%}
  {% endif -%}

  {% if page.extra.poster -%}
    {% set_global poster_file_path = clubs.path ~ page.slug ~ '/' ~ page.extra.poster | safe -%}
  {% endif -%}

  {% for asset in page.assets -%}
    {% if asset == logo_file_path -%}
      {% set_global has_logo = true -%}
      {% set_global assets_length = assets_length - 1 -%}
    {% elif asset == poster_file_path -%}
      {% set_global has_poster = true -%}
      {% set_global assets_length = assets_length - 1 -%}
    {% endif %}
  {% endfor -%}

  <article class="club-page">
    <section class="meta">
      {% if has_logo -%}
        <img class="logo" src="{{ get_url(path=logo_file_path) }}" alt="{{ page.title }}">
      {% endif -%}
      <h1 class="title">{{ page.title }}</h1>
      {% if page.extra.slogan -%}
        <h2 class="subtitle">"{{ page.extra.slogan }}"</h2>
      {% endif -%}
    </section>

    {% if assets_length > 1 %}
      <section class="carousel aspect-ratio-16-9">
        <div class="inner">
          <section class="carousel-inner">
            {% set i = 0 -%}
            {% for asset in page.assets -%}
              {% if asset != logo_file_path and asset != poster_file_path and asset is matching("[.](jpg|png)$") -%}
                <div class="aspect-ratio-16-9" style="background-image: url({{ get_url(path=asset) }});"></div>
                {% set_global i = i + 1 %}
              {% elif asset is matching("[.](mp4)$") -%}
                {% set_global should_autoscroll_carousel = false -%}
                {% set_global start_index = i -%}
                <video id="video" class="aspect-ratio-16-9" src="{{ get_url(path=asset) }}" controls autoplay muted></video>
                {% set_global i = i + 1 -%}
              {% endif -%}
            {% endfor -%}
          </section>
        </div>
      </section>
    {% endif -%}

    {% if has_poster -%}
      <div class="poster">
        <img src="{{ get_url(path=poster_file_path) }}" alt="{{ page.title }}">
      </div>
    {% endif -%}

    <section class="details">
      <div class="description">
        <h4>About the club</h4>
        {{ page.content | safe }}
      </div>

      {% if page.extra.moderators -%}
      <aside>
        <h4>Club Moderators</h4>
        {% for name in page.extra.moderators -%}
          <p>{{ name }}</p>
        {% endfor %}
      </aside>
      {% endif %}
    </section>

    {% if page.extra.links -%} 
      <section class="links">
        {% for label, url in page.extra.links -%}
          <a class="button" href="{{ url }}">{{ label }}</a>
        {% endfor -%}
      </section>
    {% endif -%}

    {% if page.extra.social_links -%}
    <section class="links">
      {% for name, url in page.extra.social_links -%}
        {% set icon_svg = load_data(path="static/social_icons/" ~ name ~ ".svg", format="plain") %}
        <a class="button is-{{ name }}" href="{{ url }}">
          {{ icon_svg | safe }}
          <span>{{ name | title }} Link</span>
        </a>
      {% endfor -%}
    </section>
    {% endif -%}
  </article>

  <script>
    window.shouldAutoscroll = "{{ should_autoscroll_carousel }}" == "true";
    window.startIndex = parseInt("{{ start_index }}");

    // video
    var videoEl = document.getElementById('video');
    var ENDED_EVENT = 'ended';

    function videoEndedHandler() {
      window.shouldAutoscroll = true;
      window.slider.refresh();
      window.slider.goTo('next');
      
      var autoplay = setInterval(function() {
        window.slider.goTo('next');
        if (window.slider.getInfo().displayIndex - 1 == window.startIndex) {
          videoEl.removeEventListener(ENDED_EVENT, videoEndedHandler);
          clearInterval(autoplay);
          return;
        }
      }, 10000);
    }

    videoEl.addEventListener(ENDED_EVENT, videoEndedHandler);
  </script>
{% endblock content %}

{% block foot %}
<script>
  var slider = tns({
    container: '.carousel-inner',
    items: 1,
    slideBy: 'page',
    autoplay: window.shouldAutoscroll,
    nav: false,
    controls: window.shouldAutoscroll,
    mouseDrag: true,
    startIndex: window.startIndex
  });
</script>
{% endblock foot %}