{% extends "layout.html" %}
{% block content %}
  {% set logo_img_path = 'clubs/' ~ page.slug ~ '/' ~ '/logo.png' %}
  {% if page.extra.logo %}
    {% set logo_img_path = 'clubs/' ~ page.slug ~ '/' ~ page.extra.logo %}
  {% endif %}

  <article class="club-information">
    <section class="club-content-container">
      <h2>{{ page.title }}</h2>
      <img src="{{ get_url(path=logo_img_path) }}" alt="{{ page.title }}">
      
      <div class="content">
        <h1>Description</h1>
        {{ page.content | safe }}
      </div>
		<p>Facebook Page: <a href="//{{ page.extra.facebook_url }}">{{ page.extra.facebook_url }}</a></p>
    </section>
  </article>
{% endblock content %}