{% extends "layout.html" %}
{% block content %}
  <section class="about-page">
    <h2 class="title glow-text">ABOUT THE DEVELOPERs</h2>
    <p class="lead-1">The Malayan Arcade 2021 website is developed by MSCRIPT's moderator and alumni.</p>
    
    <section id="developers">
      {% for person in page.extra.developers %}
        <article class="developer-info">
          <img class="glow" src="{{ get_url(path=page.path ~ '/' ~ person.picture) }}" alt="{{ person.name }}">
          <h2 class="name">{{ person.name }}</h2>
          <p class="description">{{ person.description }}</p>
        </article>
      {% endfor %}
    </section>
  </section>
{% endblock content %}