{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block header %}<h2 class="logo"></h2>{% endblock header %}
{% block top_content %}
<section class="background">
  <video src="{{ get_url(path='video.mp4') }}" muted loop autoplay></video>
  <div class="overlay"></div>
</section>
{% endblock top_content %}
{% block content %}
  <!-- Background music -->
  <iframe src="{{ get_url(path='silence.mp3') }}" allow="autoplay" id="audio" style="display: none"></iframe>
  <audio autoplay>
      <!-- Song name: Darvel - What's Your Game (Garlic OST) -->
      <source src="{{ get_url(path='song.mp3') }}" type="audio/mpeg">
      <source src="{{ get_url(path='song.ogg') }}" type="audio/ogg">
  </audio>

  <section class="home-page">
    <h2 class="title glow-text">Malayan Arcade 2021</h2>
    <h3 class="subtitle">Let’s level up together:</h3>
    <h3 class="subtitle">Are you up for the challenge?</h3>
    <p class="lead-1">
      It is time to join your clan and farm EXP together! Buff your skills through joining this year’s Club Fair! 
      <br>
	  <br>
      Unlock new abilities and rise to new levels – no time for camping! Remember, we are the future’s hope. Our mission: Don’t go AFK! Sign up for the different clubs and organizations in Malayan Colleges Mindanao.
	  <br>
	  <br>
	  Are you ready, rookie?
    </p>
    <a class="button" href="{{ get_url(path='/clubs') }}">Explore</a>
  </section>
{% endblock content %}