{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block header %}<h2 class="logo"></h2>{% endblock header %}
{% block content %}
  <!-- Background music -->
  <iframe src="{{ get_url(path='silence.mp3') }}" allow="autoplay" id="audio" style="display: none"></iframe>
  <audio autoplay>
      <!-- Song name: Darvel - What's Your Game (Garlic OST) -->
      <source src="{{ get_url(path='song.mp3') }}" type="audio/mpeg">
      <source src="{{ get_url(path='song.ogg') }}" type="audio/ogg">
  </audio>

  <section class="home-page">
    <h2 class="title glow-text">Malayan Arcade 2021</h2>
    <h3 class="subtitle">Let’s level up together:</h3>
    <h3 class="subtitle">Are you up for the challenge?</h3>
    <p class="lead">
      Are you ready to add more challenge to your academic year?
      <br>
      MCM High School brings you to a entertaining club fair where you can meet new friends with the same passion as yours! 
    </p>
    <a class="button" href="{{ get_url(path='/clubs') }}">Explore</a>
  </section>
{% endblock content %}