<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% if page.title %}{{ page.title }}{% endif %}{% endblock title %} - Malayan Arcade 2021 - MCM
    SHS Club Fair</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
  {% block head %}{% endblock head %}
</head>

<body>
  <main style="background-image: url({{ get_url(path='still-bg.png') }})">
    <header>
      {% block header %}
      <a href="{{ get_url(path='/') }}" class="site-brand glow-text">Malayan Arcade 2021</a>
      {% endblock header %}
      <span class="toggle"></span>
    </header>

    <section class="background">
      <video src="{{ get_url(path='video.mp4') }}" muted loop autoplay></video>
      <div class="overlay"></div>
    </section>
    
    <section class="main-content">
      {% block content %}{% endblock content %}
    </section>

    <footer>
      <ul class="social">
        {% for name, url in config.extra.social_links %}
          <li>
            <a href="{{ url }}">
              <img src="{{ get_url(path='social_icons/' ~ name ~ '.svg') }}" alt="{{ name }}">
            </a>
          </li>
        {% endfor %}
      </ul>
    </footer>
  </main>

  <nav class="menu">
    <ul>
      <li><a href="{{ get_url(path='/') }}">Home</a></li>
      <li><a href="{{ get_url(path='/clubs') }}">Clubs</a></li>
      <li><a href="{{ get_url(path='/about') }}">About the Devs</a></li>
    </ul>
  </nav>

  {% block foot %}{% endblock foot %}
  <script src="{{ get_url(path='script.js') }}"></script>
</body>

</html>